{% extends 'base.html.twig' %}

{% block title %}Usager index{% endblock %}

{% block body %}
    <h1>Usager index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Nom</th>
                <th>Prenom</th>
            </tr>
        </thead>

        <tbody>
        {% if usager %}
            <tr>
                <td>{{ usager.id }}</td>
                <td>{{ usager.email }}</td>
                <td>{{ usager.roles|join(', ') }}</td>
                <td>{{ usager.prenom }}</td>
                <td>{{ usager.nom }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">L'usager n°1 n'existe pas dans la base de données.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
