{% extends 'base.html.twig' %}

{% block title %}Nos Rayons{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4 text-center">Bienvenue dans nos rayons</h1>
        <div class="row">
            {% for cat in categories %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        {# On utilise asset() pour l'image #}
                        <img src="{{ asset(cat.visuel) }}" class="card-img-top" alt="{{ cat.libelle }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ cat.libelle }}</h5>
                            <p class="card-text">{{ cat.texte }}</p>
                            {# Lien vers le rayon spécifique #}
                            <a href="{{ path('app_boutique_rayon', {'idCategorie': cat.id}) }}" class="btn btn-primary">
                                Voir les produits
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
